# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/cg/v14/.suo
cg.VC.db
*.log
cg/x64/Debug/cg.tlog/cg.lastbuildstate
cg/x64/Debug/cg.tlog/CL.command.1.tlog
*.tlog
cg/x64/Debug/vc140.idb
*.ilk
x64/Debug/cg.pdb
*.pdb
*.opendb
cg/cg.vcxproj.user
cg/cg.aps
x64/Release/cg.iobj
*.ipdb
